<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Welcome to <%=appData.appName%></title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
  <body>
    <%- include('headerMenu') %>
    <main class="content">
      <h1>Welcome to <%=appData.appName%></h1>
      <p>front: [90%] back: [100%] <a href="about">About <%=appData.appName%></a></p>
      <p>front: [15%] back: [15%] <a href="funds/search">Search for funds</a></p>
      <p>front: [15%] back: [15%] <a href="funds/add">Add a new fund</a></p>
      <p>front: [15%] back: [15%] <a href="funds/list">List funds</a></p>
      <p>front: [50%] back: [50%] <a href="portfolios/add">Add a new portfolio</a></p>
      <p>front: [15%] back: [15%] <a href="portfolios/list">List portfolios</a></p>
      <p>front: [15%] back: [15%] <a href="transactions/add">Add new transactions</a></p>
      <p>front: [15%] back: [15%] <a href="transactions/list">List transactions</a></p>
      <p>front: [40%] back: [40%] <a href="users/register">Register with us</a></p>
      <p>front: [15%] back: [40%] <a href="users/list">List users</a></p>
      <p>front: [40%] back: [40%] <a href="users/login">Login</a></p>
      <p>front: [60%] back: [60%] <a href="users/logout">logout</a></p>  
    </main>
    <%- include('footerMenu') %>
  </body>
</html>
